!!!
%html{:lang => "en", :style => "height: 100%; margin: 0; padding: 0"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title Josh Emailers | Birthday Celebrations
  %body{:style => "position: relative; height: 100%; margin: 0; padding: 0; background-color: #{@current_template[:bg_color]};"}
    %table{:border => "0", :bgcolor => "#{@current_template[:bg_color]}", :cellpadding => "0", :cellspacing => "0", :height => "100%", :style => "background-color: #{@current_template[:bg_color]}; font-family: 'Comic Sans MS', cursive, handwriting, sans-serif; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0;", :width => "100%"}
      %tbody
        %tr
          %td{:style => "padding-top: 0; padding-right: 24px; padding-bottom: 0; padding-left: 24px; text-align: center; vertical-align: top;"}
            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 738px; height: 824px; max-width: 100%; max-height: auto; margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto;", background: "#{image_url(@current_template[:bg_image])}"}
              %tbody
                %tr
                  %td{:style => "padding-top: 212px; padding-right: 88px; padding-bottom: 116px; padding-left: 88px; vertical-align: top; text-align: center;"}
                    %div{:style => "display: inline-block; width: auto; height: 208px; background-color: #{@current_template[:photo_bg_color]}; margin-right: auto; margin-bottom: 8px; margin-left: auto; padding-top: 24px; padding-right: 24px; padding-bottom: 24px; padding-left: 24px; border-radius: 16px;"}
                      %img{:alt => @birthday_user.name, :src => "#{attachments['user.jpg'].url}", :style => "width: auto; height: 208px; border-radius: 12px"}
                    %p{:style => "font-size: 36px; line-height: normal; font-weight: bold; color: #{@current_template[:name_color]}; margin-top: 0; margin-bottom: 16px;"}
                      = @birthday_user.name